<h2> Sign Up New User</h2>
<div>
<form action="<%= users_url %>" method="post">

<label>username
<input type="text" name="user[username]" value="">
</label>

<br/>

<label>password
<input type="password" name="user[password]" value="">
</label>

<br/>

<input type="submit" value="Sign Up">
</form>
</div>